BUCKET_NAME=''
AWS_ACCESS_KEY=''
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="ap-northeast-1"
DATABASE_HOSTNAME="localhost"
DATABASE_NAME=""
DATABASE_USERNAME="root"
DATABASE_PASSWORD=""
VISON_API_KEY=""
EMOTION_API_KEY=""
